[submodule "evm-contracts-tools/nodejs"]
	path = evm-contracts-tools/nodejs
	url = https://github.com/themartiancompany/evm-contracts-tools.js
[submodule "man"]
	path = man
	url = https://github.com/themartiancompany/evm-contracts-tools-man
